* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cuprum', sans-serif;
}

body {
  background: black;
}
nav {
  position: fixed;
  top: 0;
  background-image: url(../images/background6.jpg);
  background-position: left 50% bottom 50%;
  display: inline-block;
  z-index: 1;
}

.nav--mobile__link:hover,
.nav--mobile__link:active {
  color: salmon;
}



.container {
  background: transparent;
  margin: 200px;
  padding: 10px;
  display: flex;
  flex: wrap;
}

.card {
  background-image: linear-gradient(120deg, white 0%, whitesmoke 100%);
  margin: 20px;
  padding: 10px;
  border-radius: 0 1rem 0 1rem;
  box-shadow: inset 2px 2px 7px black;
  z-index: 0;
  text-align: center; 
}

.activator {
  width: 150px;
  height: 150px;
  padding: 5px;
}


.footer--image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

footer {
  background: black;
  border: black; 
  text-align: center;
  padding: 5px;
}