* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cuprum', sans-serif;
}

header {
  font-size: 50px;
  color: whitesmoke;
  padding: 10px;
  background-image: url(../images/background6.jpg);
  background-position: center;
  background-size: 100%;
  text-shadow: 2px 2px 7px black;
}

header > div {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.nav {
  width: calc(100% - 475px);
  text-align: right;
  display: inline-block;
}
.nav--item  {
  font-size: 20px;
  display: inline-block;
  text-align: right;
}

.nav--item a {
  color: white;
}
.container {
  background: white;
  margin: 100px 200px 100px 200px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-image: linear-gradient(120deg, white 0%, whitesmoke 100%);
  margin: 20px;
  padding: 10px;
  border-radius: 0 1rem 0 1rem;
  box-shadow: inset 2px 2px 7px black;
}

.footer--image {
  height: 40px;
  width: 40px;
  border-radius: 75%;
}
footer {
  background: black;
  border: black; 
  text-align: center;
}