* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Cuprum', sans-serif;
}


.container {
  margin: 100px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  border: double  black;
  background-image: linear-gradient(120deg, firebrick 0%, tan 100%);
}

.four-up-feature {
  text-align: center;
}

.four-up-feature .four-up-feature-header {
  margin-bottom: 3rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.four-up-feature .four-up-feature-image {
  margin-bottom: 2rem;
}

.four-up-feature .four-up-feature-text {
  margin-bottom: 2rem;
}

