* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
 background: white;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: url(../images/background6.jpg);
  background-position: left 50% bottom 50%;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
  padding: 10px;
  text-align: right;
}

.nav--link {
  color: white;
  margin: 0px 5px;
}

.nav--link:hover,
.nav--link:active {
  color: salmon;
}

.container {
  margin: 50px;
  color: white;
  border: double white;
  background: black;
  box-shadow: 7px 7px 7px gray;
}
.portfolio-resume-spacing {
    margin-bottom: 2rem;
  }
  
  .portfolio-resume-wrapper {
    padding: 2rem 4rem;
  }
  
  .portfolio-resume-headshot {
    margin-bottom: 2rem;
    border-radius: 50%;
    width: 300px;  
    height: 300px;
  }
  
  .portfolio-resume-header {
    text-transform: uppercase;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e6e6e6;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .portfolio-resume-contact-info {
    margin-bottom: 0.75rem;
  }
  
  .portfolio-resume-contact-info a {
    color: black;
  }
  
  .portfolio-resume-contact-info .fa {
    font-size: 1.4rem;
    padding-right: 0.8rem;
    vertical-align: middle;
    color: black;
  }

  .footer--image {
    height: 40px;
    width: 40px;
    border-radius: 75%;
  }
  
  footer {
    position: sticky;
    background: black;
    border: black; 
    text-align: center;
    padding: 5px;
  }
  
  